<div class="textwidget margin-top-30">
    <h1>Chat</h1>
</div>
<div class="widget">
    <section id="chatroom"></section>
    <div id="messages"></div>
    <input id="message" type="text" placeholder="Enter your message here" />
    <input id="send" type="button" value="Send" />
</div>
</div>