<div class="textwidget margin-top-30">
<p>Please enter login details bellow, or create an account</p>
</div>
<div class="widget">
    <form name="login-form" id="login-form" method = "post" action = "/users/login">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" re />
        </div>
        <div class="form-submit">
            <input type="submit" value="Log in" />
            <div class="margin-top-30">
                or <a href="/users/create">Create an account</a>
            </div>
        </div>
    </form>
</div>