<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{{#if title}} - {{title}}{{/if}}</title>
        <meta name="description" content="No matter what you're craving, Restaurant to Room has you covered. Our fast and friendly delivery service brings you hot, fresh food, from a diverse choice of local restaurants." />
        <link rel="stylesheet" href="/stylesheets/wp-backgrounds.css" type='text/css' media='all' />
        <link rel='stylesheet' href="/stylesheets/mjCont.css" type='text/css' media='all' />
        <link rel='stylesheet' href='/stylesheets/front.css' type='text/css' media='all' />
        <link rel='stylesheet' href='/stylesheets/style.css' type='text/css' media='all' />
        <link rel="stylesheet" href="/stylesheets/style1.css" type='text/css' media='all' />
        <link id="twentytwelve-fonts-css" media="all" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext" rel="stylesheet">
        <script type='text/javascript' src='/js/jquery.js'></script>
        <script type='text/javascript' src='/js/wp-backgrounds.js'></script>
        <script type='text/javascript' src='/js/main.js'></script>
        <script type='text/javascript' src='/socket.io/socket.io.js'></script>
        <script type='text/javascript' src='/js/chat.js'></script>
      
    </head>
    <body class="custom-font-enabled">
        <div id="page" class="hfeed site">
	        <header id="masthead" class="site-header" role="banner">
		        <hgroup>
			        <h1 class="site-title"><a href="https://outlook.office365.com/owa/?realm=campus.goldsmiths.ac.uk#path=/group/softwareprojectgroupc@gold.ac.uk/mail" title="Software Projects group C" rel="home">Software Projects group C</a></h1>
	              
		        </hgroup>
		 
            </header>
            {{#if firstName}}
            <div id="greeting" style="float:right">
              <strong>Hi, {{firstName}}</strong>
              <a href="users/logout">Log out</a>
              
            </div>
            {{/if}}
            
	        <div id="main" class="wrapper">
	            <div id="primary" class="site-content">
		            <div id="content" role="main">
                        <div class="entry-content">
							<div class="panel-grid" id="pg-218-0">
								<div class="panel-grid-cell" id="pgc-218-0-0">
									<div class="panel widget panel-first-child panel-last-child" id="panel-218-0-0-0">
										<div class="textwidget">
											<p><img class="size-full wp-image-223 alignleft" src="/images/b.jpg" alt="restaurant to room_web" width="300" height="282" /></p>
										</div>
									</div>
								</div>
								<div class="panel-grid-cell" id="pgc-218-0-1">									
									<div id="page-content" class="panel widget panel-first-child panel-last-child">
										<!-- BEGIN page-specific content -->
										{{{body}}}
										<!-- END page-specific content -->
									</div>									
								</div>
							</div>
						</div>    
                    </div>
	            </div>
            </div>
	        <footer id="colophon" role="contentinfo">
		        <div class="site-info">
			        <a href="www.google.com" title="google">Software projects group C.</a>
		        </div>
	        </footer>
        </div>        
    </body>
</html>